<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="language.translate.snap.translate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:excludeFromRecents="true"
            android:name=".activities.ExitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.IntroductionAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PrivacyPolicyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.MoreSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.LanguageSelectionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.PermissionAskingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:excludeFromRecents="true"
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DetectTextService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name=".service.MoreTextFloatingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.TextTranslatorService"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/YOUR_ADMOB_APP_ID" />
    </application>

</manifest>